<template>
  <div class="layout">
    <div class="row g-0">
      <div class="content shadow p-0 d-none d-lg-block">
        <private-sidebar2 />
      </div>
      <div class="page-content content m-0 p-0">
        <div class="m-0 p-0 header">
          <private-header
            :showModalMenu="showModalMenu"
            @setShowModalMenu="showModalMenu = $event"
          />
        </div>
        <div class="row g-0">
          <div class="col-12 m-0 p-0">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
    <div
      v-show="showModalMenu"
      modal-classes="modal-dialog modal-sm"
      body-classes="pb-0"
      class="modal-content"
      header-classes="pb-0"
    >
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            style="text-align: right;"
            @click="handleOpenMenu()"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <h4 class="center upper text-gray mx-4">
              Repositório de Materiais de Ensino
            </h4>
            <div class="center upper">
              <img
                alt="Logo"
                style="max-width: 10rem;"
                class="mx-auto card-image pointer mb-4"
                title="Testar agora"
                src="@/assets/logo.png"
              />
            </div>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="
                  $router.push('/professor/home')
                  handleOpenMenu()
                "
              >
                Início
              </li>
              <li
                class="list-group-item"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="
                  $router.push('/professor/professores')
                  handleOpenMenu()
                "
              >
                Professores
              </li>
              <li
                class="list-group-item"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="
                  $router.push('/professor/materiais')
                  handleOpenMenu()
                "
              >
                Materiais
              </li>
              <li
                class="list-group-item"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="
                  $router.push('/professor/categorias')
                  handleOpenMenu()
                "
              >
                Categorias
              </li>
              <li
                class="list-group-item"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="
                  $router.push('/professor/perfil')
                  handleOpenMenu()
                "
              >
                Editar Perfil
              </li>
              <li
                class="list-group-item"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="
                  $router.push('/professor/ajuda')
                  handleOpenMenu()
                "
              >
                Ajuda
              </li>
              <li
                class="list-group-item text-danger"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="
                  logout()
                  handleOpenMenu()
                "
              >
                <a class="nav-link text-danger">
                  <i class="fas fa-sign-out-alt fa-1x icon mr-2"></i>
                  Sair
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PrivateHeader from '../../components/private/PrivateHeader.vue'
import PrivateSidebar2 from '../../components/private/PrivateSidebar2.vue'
import api from '@/services/api'
import { logout } from '@/services/auth'
//import Homepage from './Homepage.vue'

export default {
  components: {
    PrivateSidebar2,
    PrivateHeader,
    //Homepage,
  },
  data() {
    return {
      showModalMenu: false,
    }
  },
  methods: {
    handleOpenMenu() {
      this.showModalMenu = !this.showModalMenu
    },
    async logout() {
      try {
        await api.post(`/logout`)
        logout()
        this.$router.push('/')
      } catch (e) {
        console.log(e)
        alert('Não foi possível encerrar a sessão, tente novamente.')
      }
    },
  }
}
</script>
<style scoped>
.list-group-item {
  cursor: pointer;
}
.layout {
  min-height: 100vh;
}

.shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.content {
  background: rgb(144, 144, 144);
  background: linear-gradient(
    357deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
}
.page-content {
  position: relative;
}
.modal-content {
  position: absolute;
  top: 0;
  left: 0;
}

/* md e sm */
@media screen and (max-width: 991px) {
  .page-content {
    top: 0;
    position: absolute;
    min-height: 100%;
    width: 100%;
    left: 0;
  }
}

/* lg e xl */
@media screen and (min-width: 992px) {
  .page-content {
    top: 0;
    position: absolute;
    min-height: 100%;
    width: calc(100% - 240px);
    left: 240px;
  }
}
</style>
