<template>
  <div class="public-page public-home">
    <public-header />
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-sm-12 p-4">
          <h1 class="public-htitle">
            Repositório de materiais de ensino
          </h1>
          <h3 class="public-hsub">
            sobre TICs para professores do ensino básico
          </h3>
          <p class="pt-4 font-4x">
            Com o objetivo de facilitar a aprendizagem dos professores 
            das escolas de ensino básico sobre recursos e ferramentas 
            educacionais disponíveis na atualidade, surge o sistema de 
            repositório de materiais online que concentra materiais de 
            ensino e capacitação de uso destes instrumentos.
          </p>
        </div>
        <div class="col-lg-5 col-sm-12">
          <div class="text-center">
            <img src="../../assets/logo.png" class="home-logo" />
          </div>
          <login-card />
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-lg-4 col-sm-12 col-md-6 card-home" v-for="(card, index) in cardList" :key="index">
          <div class="card card-custom text-center" style="height: 100%">
            <span class="card-icon mb-2 text-secondary">
              <i :class="card.icon + ' fa-4x'" />
            </span>
            <h3 class="card-title">{{ card.title }}</h3>
            <p>{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <go-to-top />
    <public-footer />
  </div>
</template>

<script>
import PublicHeader from "../../components/public/PublicHeader";
import GoToTop from "../../components/public/GoToTop";
import LoginCard from "../../components/public/LoginCard";
import PublicFooter from "../../components/public/PublicFooter";

export default {
  name: 'App',
  components: { 
    PublicHeader,
    GoToTop,
    LoginCard,
    PublicFooter
  },
  data() {
    return { 
      cardList: [
        {
          title: "Sua instituição",
          description: "Cadastre sua instituição no sistema para gerenciar os materiais ligados a ela",
          icon: "fas fa-graduation-cap"
        },
        {
          title: "Professores",
          description: "Cadastre seus professores na sua conta de instituição e compartilhe o acesso com eles",
          icon: "fas fa-users"
        },
        {
          title: "Materiais",
          description: "Adicione materiais à sua instituição e compartilhe com seus professores. Professores também podem cadastrar",
          icon: "fas fa-book"
        },
        {
          title: "Colaboração",
          description: "Professores podem colaborar com materiais de outros professores, podendo ajudar complementar os materiais com os seus próprios",
          icon: "fas fa-handshake"
        },
        {
          title: "Categorias",
          description: "Adicione categorias para classificar os materiais que você cadastrar",
          icon: "fas fa-tags"
        },
        {
          title: "Recomendação",
          description: "Professores podem selecionar categorias de interesse para receber recomendações de materiais adicionados pela instituição",
          icon: "fas fa-magic"
        },
        {
          title: "Palavras chave",
          description: "Selecione palavras chaves recomendadas ou adicione a sua personalizada para facilitar a busca pelo seu material",
          icon: "fas fa-hashtag"
        },
        {
          title: "Favoritar",
          description: "Favorite materiais para guardá-los e lê-los no futuro",
          icon: "fas fa-star"
        },
        {
          title: "Relatórios",
          description: "Baixe relatórios para conhecer o acervo completo da sua instituição no sistema",
          icon: "fas fa-clipboard"
        },
        {
          title: "Privacidade",
          description: "Altere a privacidade dos materiais para permitir o acesso somente de seus professores ou público, para qualquer usuário",
          icon: "fas fa-eye-slash"
        },
        {
          title: "Avaliação",
          description: "Avalie os materiais e comente-os para o criador do conteúdo receber feedback sobre o que gostaram e o que pode ser complementado",
          icon: "fas fa-star-half"
        },
        {
          title: "Ajuda",
          description: "A instituição e professores podem acessar a qualquer momento a página de ajuda, onde pode conferir o tutorial de uso do sistema",
          icon: "fas fa-question-circle"
        }
      ]
    }
  }
}
</script>
<style>
html {
  height: 100%;
}
.container {
  margin-top: 50px;
}
body {
  background: 
    linear-gradient(180deg, rgba(0, 132, 255, 0) 0.48%, #49A6FC 99.37%), 
    linear-gradient(0deg, #248CEA, #248CEA);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card-home {
  color: black;
  margin-bottom: 20px;
}
.card-custom {
  padding: 60px 20px 60px 20px;
}
.card-title {
  color: #343a40;
}
.mt-10 {
  margin-top: 80px;
}
.font-4x {
  font-size: 25px;
  letter-spacing: -.5px;
}
</style>
