<template>
  <div class="m-4 center text-gray">
    <br />
    <p>
      Confira abaixo a listagem de todos os seus colegas categorias na
      instituição.
    </p>
    <br />
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary custom-btn mb-4"
        @click="$router.push('/professor/categorias/nova')"
      >
        <i class="fas fa-tag" />
        <i class="fas fa-plus mr-2" />
        Adicionar nova categoria
      </button>
    </div>
    <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
      <div class="spinner-border text-primary spinner-border" role="status">
        <span class="visually-hidden">Aguarde...</span>
      </div>
    </div>
    <div class="row m-0 p-0" v-else>
      <div class="col-lg-12 col-sm-12">
        <div class="card card-style p-2" v-if="categories.length">
          <div class="card-body left">
            <table
              class="table table-striped table-borderless table-hover text-gray-2"
            >
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(category, index) in categories" :key="index">
                  <td class="text-gray">{{ category.name }}</td>
                  <td class="text-gray">{{ category.description }}</td>
                  <td class="text-gray">
                    <button
                      type="submit"
                      class="btn btn-primary custom-btn px-4"
                      @click="$router.push(`/professor/categorias/${category.id}`)"
                      :disabled="category.user_id !== profile.id"
                    >
                      <i class="fas fa-edit mr-2" />
                      Ver categoria
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center" v-else>
          <span class="badge bg-danger p-2">
            Não há categorias cadastradas até o momento.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'categorias',
  data() {
    return {
      categories: [],
      profile: "",
      loaderActive: false
    }
  },
  async mounted() {
    await this.loadCategories()
    await this.loadProfile()
  },
  methods: {
    async loadCategories() {
      try {
        this.showLoader();
        const { data } = await api.get(`/teacher/categories`)
        this.categories = data
        this.showLoader();
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar as informações das categorias.')
      }
    },
    async loadProfile() {
      try {
        const { data } = await api.get(`/teacher/profile`)
        this.profile = data[0]
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar as informações de usuário.')
      }
    },
    showLoader () {
      this.loaderActive = !this.loaderActive;
    },
  },
}
</script>

<style>
.btn-primary:disabled, .white {
  color: white;
}
.left {
  text-align: left;
}
.card-table,
.table {
  margin: 0;
  padding: 0;
  border-radius: 16px;
}
.text-gray-2 {
  color: #626262;
}
</style>
