<template>
  <div class="m-4 text-gray">
    <span @click="$router.push('/professor/categorias')" class="return-button">
      <i class="fas fa-angle-left mr-2" />Voltar à pagina anterior
    </span>
    <p></p>
    <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
      <div class="spinner-border text-primary spinner-border" role="status">
        <span class="visually-hidden">Aguarde...</span>
      </div>
    </div>
    <div class="row m-0 p-0" v-else>
      <div class="col-lg-9 col-sm-12">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Dados básicos</h4>
            <div class="row">
              <div class="col-6 mb-3">
                <label class="form-label" name="nome">Nome</label>
                <input
                  class="form-control"
                  placeholder="Digite o nome da categoria"
                  v-model="model.name"
                />
              </div>
              <div class="col-12 mb-3">
                <label class="form-label">Descrição</label>
                <textarea
                  class="form-control"
                  placeholder="Escreva uma breve descrição"
                  v-model="model.description"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 center col-sm-12 order-1 user-card">
        <div class="card card-style p-4">
          <div class="card-body">
            <div class="row">
              <div class="col-12 mb-4" style="text-align: center;">
                <i class="fas fa-user-circle fa-5x" />
              </div>
              <div class="col-12">
                <h5 class="card-title">{{ this.model.name || 'Categoria' }}</h5>
                <div class="row">
                  <span class="card-text">
                    {{ this.model.description || '--' }}
                  </span>
                </div>
              </div>
            </div>
            <br />
            <div class="center">
              <button
                type="submit"
                class="btn btn-primary white px-4 save-button"
                @click="handleSubmit()"
                :disabled="!isValid"
              >
                <i class="fas fa-tag" />
                <i class="fas fa-plus mr-2" />
                Adicionar categoria
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/services/api";
export default {
  name: 'categorias',
  data() {
    return {
      model: {
        name: '',
        description: '',
      },
    }
  },
  methods: {
    async handleSubmit() {
      try {
        const { data } = await api.post('/teacher/categories', this.model)
        console.log(data)
        this.$router.push(`/professor/categories`)
      } catch (e) {
        alert('⚠Ocorreu um erro ao cadastrar a categoria⚠')
      }
    },
  },
  computed: {
    isValid() {
      if (!this.model.name) {
        return false
      }
      return true
    },
  },
}
</script>
<style >
.return-button {
  cursor: pointer;
  opacity: 0.8;
}
.return-button:hover {
  opacity: 1;
}
</style>
<style scoped>
.white {
  color: white;
}
.password-input {
  position: relative;
}
.icon .fa-eye,
.icon .fa-eye-slash {
  position: absolute;
  right: 25px;
  top: 12px;
  cursor: pointer;
  z-index: 0;
  color: #6c757d;
}
.user-card {
  position: relative;
}
.save-button {
  bottom: 0;
  margin-bottom: 10px;
  right: 30%;
  font-size: 1vw;
}
</style>
