<template>
  <div class="m-4 text-gray">
    <span @click="$router.push('/professor/professores')" class="return-button">
      <i class="fas fa-angle-left mr-2" />Voltar à pagina anterior
    </span>
    <p></p>
    <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
      <div class="spinner-border text-primary spinner-border" role="status">
        <span class="visually-hidden">Aguarde...</span>
      </div>
    </div>
    <div class="row m-0 p-0" v-else-if="teacher">
      <div class="mb-4 col-lg-9 col-md-12 col-sm-12">
        <div
          class="card card-style p-4"
        >
          <div class="card-body">
            <h4 class="card-title mb-4">
              Materiais compartilhados pelo professor
            </h4>
            <div v-if="!materials.length">
              <span class="badge bg-danger p-2">
                Não há materiais compartilhados pelo professor até o momento.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 order-1">
        <div
          class="card card-style p-4 user-card center"
        >
          <div class="card-body">
            <div class="row">
              <div class="col-12 mb-4" style="text-align: center;">
                <i class="fas fa-user-circle fa-5x" />
              </div>
              <div class="col-12">
                <h5 class="card-title">{{ teacher.user.name }}</h5>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-phone mr-2" />
                    {{ teacher.phone }}
                  </span>
                </div>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-envelope mr-2" />
                    {{ teacher.user.email }}
                  </span>
                </div>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-university mr-2" />
                    {{ teacher.institute.user.name }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'professor-view',
  data() {
    return {
      teacher: '',
      materials: [],
      loaderActive: false
    }
  },
  async mounted() {
    await this.loadTeacher()
    // await this.loadMaterials()
  },
  methods: {
    async loadTeacher() {
      try {
        this.showLoader()
        const { data } = await api.get(
          `/teacher/teachers/${this.$route.params.id}`,
        )
        this.teacher = data
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar as informações do professor.')
        this.$router.push('/professores')
      }
    },
    async loadMaterials() {
      try {
        this.showLoader()
        const { data } = await api.get(
          `/teacher/teachers/${this.$route.params.id}/materials`,
        )
        this.materials = data
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar os materiais do professor.')
        this.$router.push('/professores')
      }
    },
    showLoader () {
      this.loaderActive = !this.loaderActive;
    },
  },
}
</script>

<style scoped>
.white {
  color: white;
}
.password-input {
  position: relative;
}
.icon .fa-eye,
.icon .fa-eye-slash {
  position: absolute;
  right: 25px;
  top: 12px;
  cursor: pointer;
  z-index: 0;
  color: #6c757d;
}
.user-card {
  position: relative;
}
.save-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  right: 30%;
}
</style>
<style>
a {
  color: #6c757d;
  text-decoration: none;
}
</style>