<template>
  <div class="m-4 center text-gray">
    <br />
    <p>
      Procure professores que trabalham com você e os materiais que ele adicionou
      no sistema ao visualizar o seu perfil.
    </p>
    <br />
    <div class="row m-0 p-0">
      <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
        <div class="spinner-border text-primary spinner-border" role="status">
          <span class="visually-hidden">Aguarde...</span>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="card card-style p-2" v-if="teachers.length">
          <div class="card-body left">
            <table
              class="table table-striped table-borderless table-hover text-gray-2"
            >
              <thead>
                <tr>
                  <th scope="col">Foto de perfil</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Áreas de ensino</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(teacher, index) in teachers" :key="index">
                  <th scope="row" class="text-gray">
                    <i class="fas fa-user-circle fa-2x" />
                  </th>
                  <td class="text-gray">{{ teacher.user.name }}</td>
                  <td class="text-gray">
                    <i class="fas fa-tags mr-2" />
                    Área de Ensino 1; Área de Ensino 2;
                  </td>
                  <td class="text-gray">
                    <i class="fas fa-envelope mr-2" />
                    <a :href="`mailto:${teacher.user.email}`">
                      {{ teacher.user.email }}
                    </a>
                  </td>
                  <td
                    class="text-gray"
                    @click="$router.push(`professores/${teacher.user_id}`)"
                  >
                    <a href="#" class="btn btn-primary white px-4">
                      <i class="fas fa-user mr-2" />
                      Ver perfil
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center" v-else-if="!loaderActive">
          <span class="badge bg-danger p-2">
            Não há professores cadastrados até o momento.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'professores',
  data() {
    return {
      teachers: [],
      loaderActive: false
    }
  },
  async mounted() {
    await this.loadTeachers()
  },
  methods: {
    async loadTeachers() {
      this.showLoader();
      try {
        const { data } = await api.get(`/teacher/teachers`)
        this.teachers = data
        this.showLoader();
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar os professores da sua instituição.')
      }
    },
    showLoader () {
      this.loaderActive = !this.loaderActive;
    },
  },
}
</script>

<style>
.white {
  color: white;
}
.left {
  text-align: left;
}
.card-table,
.table {
  margin: 0;
  padding: 0;
  border-radius: 16px;
}
.text-gray-2 {
  color: #626262;
}
</style>
