<template>
  <span 
    id="gotop-button" 
    class="gotop-button cursor-pointer"
    @click="scrollTop()"
  >
    <i 
      class="icon-top fas fa-arrow-circle-up fa-5x text-secondary" 
    />
  </span>
</template>

<script>
export default {
  name: 'go-to-top',
  data() {
    return {
      scroll: false
    }
  },
  mounted () {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll () {
      var headerElement = document.getElementById("gotop-button");
      var scroll = 
        window.pageYOffset || 
        document.documentElement.scrollTop ||
        document.body.scrollTop || 0;
      const opacity = 1 * scroll/500;
      headerElement.style.opacity = opacity;
      if (opacity > 0) headerElement.style.display = "block";
      else headerElement.style.display = "none";
    },
    scrollTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }
  }
}
</script>
<style scoped>
/* .gotop-button {
  display: none; 
} */
.gotop-button {
  bottom: 40px;
  right: 40px;
  position: fixed;
}
.gotop-button {
  bottom: 40px;
  right: 40px;
}
.icon-top {
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
}
.icon-top:hover {
  background-color: white;
  border-radius: 50%;
}
</style>
