<template>
  <div>
    <div class="card m-4">
      <div class="card-header nav-fill">
        <ul class="nav nav-tabs card-header-tabs">
          <li
            class="nav-item cursor-pointer"
            @click="switchSelection('register')"
          >
            <span id="register" class="nav-link">Cadastro</span>
          </li>
          <li class="nav-item cursor-pointer" @click="switchSelection('login')">
            <span id="login" class="nav-link active">
              <i class="fas fa-sign-in-alt mr-2" />
              Login
            </span>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div v-show="selected === 'login'">
          <form class="text-black" v-on:submit.prevent="">
            <div class="mb-3">
              <label class="form-label" name="email">Email</label>
              <input
                type="mail"
                class="form-control"
                placeholder="Digite seu email"
                v-model="userModel.email"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <div class="password-input">
                <input
                  id="p-input1"
                  type="password"
                  class="form-control"
                  placeholder="Digite sua senha"
                  v-model="userModel.password"
                />
                <span @click="setPasswordVisibility('p-input1')">
                  <i id="show" class="fas fa-eye-slash" />
                </span>
              </div>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary custom-btn"
                @click="handleLogin()"
              >
                <i class="fas fa-sign-in-alt mr-2" />
                Entrar
              </button>
            </div>
          </form>
        </div>
        <div v-show="selected === 'register'">
          <div class="text-black">
            <span class="text-gray">Qual será o seu papel no sistema?</span>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="userRole"
                id="professor"
                value="professor"
                v-model="role"
              />
              <label class="form-check-label" for="professor">
                Professor
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="userRole"
                id="instituicao"
                value="instituicao"
                v-model="role"
              />
              <label class="form-check-label" for="instituicao">
                Instituição
              </label>
            </div>
            <hr />
            <span class="text-gray">Dados cadastrais</span>
            <div v-if="role === 'professor'">
              <div class="mb-3">
                <label class="form-label" name="instituicao">
                  Instituição*
                </label>
                <select
                  class="form-select"
                  aria-label="Insituicao"
                  v-model="professorModel.institute_id"
                >
                  <option value="0" selected disabled>Selecione uma opção</option>
                  <option
                    :value="institute.id"
                    v-for="(institute, index) in institutes"
                    :key="index"
                  >
                    {{ institute.name }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" name="nome">Nome*</label>
                <input
                  type="mail"
                  class="form-control"
                  placeholder="Digite seu nome"
                  v-model="userModel.name"
                />
              </div>
              <div class="mb-3">
                <label class="form-label" name="email">Email*</label>
                <input
                  type="mail"
                  class="form-control"
                  placeholder="Digite seu email"
                  v-model="userModel.email"
                />
              </div>
              <div class="mb-3">
                <label class="form-label" name="telefone">Telefone</label>
                <input
                  type="phone"
                  class="form-control"
                  placeholder="Digite seu telefone"
                  v-model="userModel.phone"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Senha*</label>
                <div class="password-input">
                  <input
                    id="p-input2"
                    type="password"
                    class="form-control"
                    placeholder="Digite sua senha"
                    v-model="userModel.password"
                  />
                  <span @click="setPasswordVisibility('p-input2')">
                    <i id="show" class="fas fa-eye-slash" />
                  </span>
                </div>
                <small class="form-text text-danger" v-if="passwordWarning">
                  *sua senha deve conter 8-20 caracteres.
                </small>
              </div>
              <div class="mb-3">
                <label class="form-label">Confirmação de senha*</label>
                <div class="password-input">
                  <input
                    id="p-input3"
                    type="password"
                    class="form-control"
                    placeholder="Digite sua senha"
                    v-model="userModel.confirmation"
                  />
                  <span @click="setPasswordVisibility('p-input3')">
                    <i id="show" class="fas fa-eye-slash" />
                  </span>
                  <small
                    class="form-text text-danger"
                    v-if="passwordConfirmWarning"
                  >
                    *as senhas não conferem.
                  </small>
                </div>
              </div>
              <div class="text-center">
                <button
                  class="btn btn-primary custom-btn"
                  @click="handleRegister()"
                >
                  <i class="fas fa-sign-in-alt mr-2" />
                  Cadastrar
                </button>
              </div>
            </div>
            <div v-else>
              <div>
                <div class="mb-3">
                  <label class="form-label" name="nome">Nome*</label>
                  <input
                    type="mail"
                    class="form-control"
                    placeholder="Digite seu nome"
                    v-model="userModel.name"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" name="email">Email*</label>
                  <input
                    type="mail"
                    class="form-control"
                    placeholder="Digite seu email"
                    v-model="userModel.email"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" name="telefone">Telefone</label>
                  <input
                    type="phone"
                    class="form-control"
                    placeholder="Digite seu telefone"
                    v-model="userModel.phone"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" name="cep">CEP</label>
                  <input
                    type="cep"
                    class="form-control"
                    placeholder="Digite seu cep"
                    v-model="instituicaoModel.cep"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Senha*</label>
                  <div class="password-input">
                    <input
                      id="p-input4"
                      type="password"
                      class="form-control"
                      placeholder="Digite sua senha"
                      v-model="userModel.password"
                    />
                    <span @click="setPasswordVisibility('p-input4')">
                      <i id="show" class="fas fa-eye-slash" />
                    </span>
                  </div>
                  <small class="form-text text-danger" v-if="passwordWarning">
                    *sua senha deve conter 8-20 caracteres.
                  </small>
                </div>
                <div class="mb-3">
                  <label class="form-label">Confirmação de senha*</label>
                  <div class="password-input">
                    <input
                      id="p-input5"
                      type="password"
                      class="form-control"
                      placeholder="Digite sua senha"
                      v-model="userModel.confirmation"
                    />
                    <span @click="setPasswordVisibility('p-input5')">
                      <i id="show" class="fas fa-eye-slash" />
                    </span>
                    <small
                      class="form-text text-danger"
                      v-if="passwordConfirmWarning"
                    >
                      *as senhas não conferem.
                    </small>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-primary custom-btn"
                  @click="handleRegister()"
                >
                  <i class="fas fa-sign-in-alt mr-2" />
                  Cadastrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from '@/services/api'
import { login } from "@/services/auth"

export default {
  name: 'login-card',
  data() {
    return {
      userModel: {
        name: '',
        email: '',
        password: '',
        confirmation: '',
        phone: ''
      },
      professorModel: {
        institute_id: 0
      },
      instituicaoModel: {
        cep: '',
      },
      passwordWarning: false,
      passwordConfirmWarning: false,
      role: 'professor',
      selected: 'login',
      password: {
        visibility: false,
      },
      roles: {
        teacher: 'professor',
        institute: 'instituicao',
        admin: 'admin',
      },
      institutes: [],
    }
  },
  async mounted() {
    await this.loadInstitutes()
  },
  methods: {
    async loadInstitutes() {
      try {
        const { data } = await api.get(`/institutes`)
        this.institutes = data
      } catch (e) {
        alert('Ocorreu um erro ao carregar as instituições.')
      }
    },
    async handleRegister() {
      try {
        const userData = {
          name: this.userModel.name,
          email: this.userModel.email,
          phone: this.userModel.phone,
          password: this.userModel.password,
          role: 'teacher',
        }
        if (this.role === 'instituicao') {
          userData.role = 'institute'
          userData.cep = this.instituicaoModel.cep
        } else {
          userData.institute_id = this.professorModel.institute_id
        }
        await api.post('register', userData)
        alert('Usuário cadastrado com sucesso!')
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao cadastrar o usuário')
      }
    },
    async handleLogin() {
      try {
        const { data } = await api.post('sessions', {
          email: this.userModel.email,
          password: this.userModel.password,
        })
        login(data.auth.token, data.permissions.userRole.role);
        alert('✔Usuário logado com sucesso!✔')
        this.$router.push(
          `/${this.roles[data.permissions.userRole.role.name]}/home`,
        )
      } catch (e) {
        alert('⚠Ocorreu um erro ao logar o usuário⚠')
      }
    },
    switchSelection(selected) {
      var oldSelection = document.getElementById(this.selected)
      var newSelection = document.getElementById(selected)
      this.selected = selected
      oldSelection.className = 'nav-link'
      newSelection.className = 'nav-link active'
    },
    setPasswordVisibility(id) {
      this.password.visibility = !this.password.visibility
      const icon = document.getElementById('show')
      const passwordElement = document.getElementById(id)
      if (this.password.visibility) {
        passwordElement.type = 'text'
        icon.classList.toggle('fa-eye')
      } else {
        passwordElement.type = 'password'
        icon.classList.toggle('fa-eye-slash')
      }
    },
  },
  watch: {
    'userModel.password': function () {
      if (
        !this.userModel.password ||
        this.userModel.password.length < 8 ||
        this.userModel.password.length > 20
      ) {
        this.passwordWarning = true
      } else {
        this.passwordWarning = false
      }
    },
    'userModel.confirmation': function () {
      if (this.userModel.confirmation !== this.userModel.password) {
        this.passwordConfirmWarning = true
      } else {
        this.passwordConfirmWarning = false
      }
    },
  },
}
</script>
<style scoped>
.card-body {
  padding: 2.2rem;
}
.password-input {
  position: relative;
}
.fa-eye,
.fa-eye-slash {
  position: absolute;
  right: 25px;
  top: 12px;
  cursor: pointer;
  z-index: 0;
  color: #6c757d;
}
</style>
