<template>
  <div id="public-header" class="public-header text-center">
    <h1 class="public-htitle">
      Repositório de materiais de ensino
    </h1>
    <h4 class="public-hsub">
      Sobre TICs para professores do ensino básico
    </h4>
  </div>
</template>

<script>
export default {
  name: 'public-header',
  data() {
    return {
      scroll: false
    }
  },
  mounted () {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll () {
      var headerElement = document.getElementById("public-header");
      var scroll = 
        window.pageYOffset || 
        document.documentElement.scrollTop ||
        document.body.scrollTop || 0;
      const opacity = 1 * scroll/500;
      headerElement.style.opacity = opacity;
      if (opacity > 0) headerElement.style.display = "block";
      else headerElement.style.display = "none";
    }
  }
}
</script>
<style scoped>
.public-header {
  /* opacity: 0; */
  display: none;
}
</style>
