<template>
  <div class="public-footer p-4">
    <div class="row mt-4">
      <div class="col-6 text-center">
        <img src="../../assets/logo.png" class="home-logo mb-4" />
        <h2 class="public-ftitle">
          Repositório de materiais de ensino
        </h2>
        <h4 class="public-fsub">
          sobre TICs para professores do ensino básico
        </h4>
      </div>
      <!-- <div class="col-3 text-center">
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">Cadastro</a></li>
          <li><a href="#">Acesso público</a></li>
        </ul>
      </div> -->
    </div>
    
  </div>
</template>

<script>
export default {
  name: 'public-footer',
}
</script>
<style scoped>
.home-logo {
  max-width: 20rem;
}

</style>
