<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" ng-app="">
      <div class="container-fluid center upper">
        <div class="col navbar-brand">
          <div class="row g-0">
            <div class="col-2 col-lg-1 col-md-2 col-sm-1" >
              <span class="d-lg-none">
                <button
                  id="setShowMenu"
                  class="btn white mx-4 p-2 px-3"
                  @click="handleOpenMenu()"
                >
                  <i class="fas fa-bars fa-1x" />
                </button>
              </span>
            </div>
            <div class="col-8 col-lg-9 col-md-8 mt-2 col-sm-9">
              <h4>{{ $route.name }}</h4>
            </div>
            <div class="col-2 col-lg-1 col-md-2 col-lg-1 px-1">
              <button class="btn white p-2">
                <i class="fas fa-user-circle fa-2x" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'private-header',
  props: {
    showModalMenu: Boolean,
  },
  methods: {
    handleOpenMenu() {
      this.$emit("setShowModalMenu", true);
    }
  }
}
</script>

<style>
.center {
  text-align: center;
}
.upper {
  text-transform: uppercase;
}
.white {
  color: white;
}
</style>
