<template>
  <div id="sidebarMenu">
    <ul class="nav flex-column navbar-light bg-light shadow sidebar p-4 shadow">
      <h5 class="center upper text-gray mx-4">
        Repositório de Materiais de Ensino
      </h5>
      <img
        alt="proManager Logo"
        style="max-width: 10rem;"
        class="mx-auto card-image pointer mb-4"
        title="proManager"
        src="@/assets/logo.png"
      />
      <div>
        <li class="nav-item pointer" @click="$router.push('/professor/home')">
          <a class="nav-link color active" aria-current="page">
            Início
          </a>
        </li>
        <li class="nav-item pointer" @click="$router.push('/professor/professores')">
          <a
            class="nav-link color active"
            aria-current="page"
          >
            Professores
          </a>
        </li>
        <li class="nav-item pointer" @click="$router.push('/professor/materiais')">
          <a class="nav-link color active" aria-current="page">
            Materiais
          </a>
        </li>
        <li class="nav-item pointer" @click="$router.push('/professor/categorias')">
          <a
            class="nav-link color active"
            aria-current="page"
          >
            Categorias
          </a>
        </li>
        <li class="nav-item pointer" @click="$router.push('/professor/perfil')">
          <a class="nav-link color active" aria-current="page">
            Editar Perfil
          </a>
        </li>
        <li class="nav-item pointer" @click="$router.push('/professor/ajuda')">
          <a class="nav-link color" routerLink="/user/profile">
            Ajuda
          </a>
        </li>
        <hr />
        <li class="nav-item pointer" @click="logout()">
          <a class="nav-link text-danger" routerLink="/">
            <i class="fas fa-sign-out-alt fa-1x icon mr-2"></i>
            Sair
          </a>
        </li>
      </div>
      <div class="center">
        <p class="footer text-sm">Universidade Federal de Santa Maria</p>
      </div>
    </ul>
  </div>
</template>
<script>
import api from '@/services/api'
import { logout } from '@/services/auth'

export default {
  name: 'private-sidebar',
  methods: {
    async logout() {
      try {
        await api.post(`/logout`)
        logout()
        this.$router.push('/')
      } catch (e) {
        console.log(e)
        alert('Não foi possível encerrar a sessão, tente novamente.')
      }
    },
  },
}
</script>

<style>
.mr-2 {
  margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.sidebar {
  height: 100vh;
  background: white;
}

/* menu itens */
.nav-link.color,
.list-group-item {
  color: black;
  transition: 0.5s;
}
.nav-link.color:hover,
.list-group-item:hover {
  color: #327ff1;
  transition: 0.5s;
}
.nav-link.color.disabled,
.list-group-item.disabled {
  color: rgb(85, 85, 85);
}
.list-group-item {
  font-size: 1.5rem;
  padding: 1.5rem;
}
.pointer {
  cursor: pointer;
}
.upper {
  text-transform: uppercase;
}
.center {
  text-align: center;
}

#setShowMenu {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

/* menu responsible */
@media screen and (min-width: 992px) {
  #setShowMenu {
    display: none;
  }
  #sidebarMenu {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  #setShowMenu {
    display: block;
  }
  #sidebarMenu {
    display: none;
  }
}

.text-sm {
  font-size: 0.75rem;
}
.footer {
  position: absolute;
  bottom: 0;
  color: rgb(85, 85, 85);
}
</style>
