<template>
  <div class="m-4 text-gray">
    <div class="row m-0 p-0">
      <div class="col-lg-9 col-sm-12 d-flex align-items-stretch">
        <div class="row">
          <div class="card card-style p-4 mb-4">
            <div class="card-body">
              <h4 class="card-title mb-4">Dados básicos</h4>
              <div class="mb-3">
                <label class="form-label" name="nome">Nome</label>
                <input class="form-control" placeholder="Digite o nome do professor" />
              </div>
              <div class="mb-3">
                <label class="form-label">Descrição</label>
                <textarea
                  class="form-control"
                  placeholder="Escreva uma breve descrição do professor"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="card card-style p-4 mb-4">
            <div class="card-body">
              <h4 class="card-title mb-4">Informações da conta</h4>
              <div class="row">
                <div class="col-lg-6 mb-3">
                  <label class="form-label" name="email">Email</label>
                  <input
                    type="mail"
                    class="form-control"
                    placeholder="Digite o email de acesso"
                  />
                </div>
                <div class="col-lg-6 mb-3">
                  <label class="form-label">Senha</label>
                  <div class="password-input">
                    <input
                      id="p-input8"
                      type="password"
                      class="form-control"
                      placeholder="Digite a senha de acesso"
                    />
                    <span @click="setPasswordVisibility()">
                      <i id="show" class="icon fas fa-eye-slash" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 center col-sm-12 order-1 d-flex align-items-stretch user-card">
        <div class="card card-style p-4">
          <div class="card-body">
            <div class="row">
              <div class="col-12 mb-4" style="text-align: center;">
                <i class="fas fa-user-circle fa-5x" />
              </div>
              <div class="col-12">
                <h5 class="card-title">Professor Y</h5>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-map-marker-alt mr-2" />
                    Santa Maria, RS
                  </span>
                </div>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-envelope mr-2" />
                    email@gmail.com
                  </span>
                </div>
              </div>
            </div>
            <br />
            <div class="center">
              <a href="#" class="btn btn-primary white px-4 save-button">
                <i class="fas fa-user-plus mr-2" />
                Cadastrar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'homepage',
}
</script>

<style>
.white {
  color: white;
}
.password-input {
  position: relative;
}
.icon .fa-eye,
.icon .fa-eye-slash {
  position: absolute;
  right: 25px;
  top: 12px;
  cursor: pointer;
  z-index: 0;
  color: #6c757d;
}
.user-card {
  position: relative;
}
</style>
<style scoped>
.save-button {
  position: absolute;
	bottom: 0;
  margin-bottom: 10px;
  right: 20%;
}
</style>
