<template>
  <div class="m-4 center text-gray">
    <p>
      Ao cadastrar um novo professor à lista de professores da suas instituição,
      será criada uma conta de acesso de professor.
    </p>
    <a href="#" class="btn btn-primary white px-4 mb-4">
      <i class="fas fa-user-plus mr-2" />
      Cadastrar novo professor
    </a>
    <br />
    <div class="row m-0 p-0">
      <div class="col-lg-12 col-sm-12">
        <div class="card card-style p-2">
          <div class="card-body left">
            <!-- <div class="row">
              <div class="col-2" style="text-align: right;">
                <i class="fas fa-user-circle fa-5x" />
              </div>
              <div class="col-10">
                <h5 class="card-title">Minha Instituição</h5>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-map-marker-alt mr-2" />
                    Santa Maria, RS
                  </span>
                </div>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-envelope mr-2" />
                    email@gmail.com
                  </span>
                </div>
              </div>
            </div>
            <br />
            <a href="#" class="btn btn-primary white px-4">Editar perfil</a> -->
            <table
              class="table table-striped table-borderless table-hover text-gray-2"
            >
              <thead>
                <tr>
                  <th scope="col">Foto de perfil</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Áreas de ensino</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="i in 7" :key="i">
                  <th scope="row" class="text-gray">
                    <i class="fas fa-user-circle fa-2x" />
                  </th>
                  <td class="text-gray">Professor Y</td>
                  <td class="text-gray">
                    <i class="fas fa-tags mr-2" />
                    Área de Ensino 1; Área de Ensino 2;
                  </td>
                  <td class="text-gray">
                    <i class="fas fa-envelope mr-2" />
                    email@gmail.com
                  </td>
                  <td class="text-gray">
                    <a href="#" class="btn btn-primary white px-4">
                      <i class="fas fa-user-edit mr-2" />
                      Ver perfil
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'homepage',
}
</script>

<style>
.white {
  color: white;
}
.left {
  text-align: left;
}
.card-table,
.table {
  margin: 0;
  padding: 0;
  border-radius: 16px;
}
.text-gray-2 {
  color: #626262;
}
</style>
