<template>
  <div class="m-4 text-gray">
    <span
      @click="$router.push('/professor/materiais/pessoal')"
      class="return-button"
    >
      <i class="fas fa-angle-left mr-2" />
      Voltar à pagina anterior
    </span>
    <p></p>
    <div class="d-flex justify-content-center my-4" v-if="loaderActive">
      <div class="spinner-border text-primary spinner-border" role="status">
        <span class="visually-hidden">Aguarde...</span>
      </div>
    </div>
    <div class="row m-0 p-0" v-else>
      <div class="col-lg-9 col-sm-12">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Dados básicos</h4>
            <div class="row">
              <div class="col-6 mb-3">
                <label class="form-label">Nome do grupo</label>
                <input
                  class="form-control"
                  placeholder="Digite o nome do grupo"
                  v-model="model.title"
                />
              </div>
              <div class="col-6 mb-3">
                <label class="form-label">Visibilidade</label>
                <select class="form-select" v-model="model.is_public">
                  <option value="" selected disabled>
                    Selecione uma opção
                  </option>
                  <option value="true">Público</option>
                  <option value="false">Privado</option>
                </select>
              </div>
              <div class="col-12 mb-3">
                <label class="form-label">Descrição</label>
                <textarea
                  class="form-control"
                  placeholder="Adicione uma descrição para o grupo"
                  v-model="model.description"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Categorias</h4>
            <div class="row">
              <div class="col-6 mb-3">
                <label class="form-label">Categorias</label>
                <select class="form-select" v-model="model.categories">
                  <option value="" selected>
                    Nenhuma
                  </option>
                  <option
                    v-for="(categoria, index) in categories"
                    :key="index"
                    :value="categoria.id"
                  >
                    {{ categoria.name }}
                  </option>
                </select>
              </div>
              <div class="col-6 mb-3">
                <label class="form-label">
                  <i class="fas fa-info-circle" />
                  Não encontrou? Adicione uma nova categoria
                </label>
                <button
                  type="submit"
                  class="btn btn-primary white px-4 save-button"
                  @click="handleSubmit()"
                  :disabled="!isValid"
                >
                  <i class="fas fa-tags" />
                  <i class="fas fa-plus mr-2" />
                  Adicionar nova categoria
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 center col-sm-12 order-1 user-card">
        <div class="card card-style p-4">
          <div class="card-body">
            <div class="row">
              <div class="col-12 mb-4" style="text-align: center;">
                <i class="fas fa-layer-group fa-5x" />
              </div>
              <div class="col-12">
                <h5 class="card-title">
                  {{ this.model.title || 'Grupo de materiais' }}
                </h5>
                <div class="row">
                  <span v-if="model.is_public" class="text-success">
                    <i class="fas fa-users mr-2"></i>
                    Público
                  </span>
                  <span v-else class="text-danger">
                    <i class="fas fa-users mr-2"></i>
                    Privado
                  </span>
                  <span class="card-text">
                    {{ this.model.description || '--' }}
                  </span>
                  <!-- <span class="card-text">
                    <i class="fas fa-tags mr-2" />
                    <span
                      v-for="(category, index) in this.model.categories"
                      :key="index"
                    >
                      {{ category.title }}
                    </span>
                    <span v-if="!this.model.categories.length">--</span>
                  </span> -->
                </div>
              </div>
            </div>
            <br />
            <div class="center">
              <button
                type="submit"
                class="btn btn-primary white px-4 save-button"
                @click="handleSubmit()"
                :disabled="!isValid"
              >
                <i class="fas fa-save mr-2" />
                Salvar alterações
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'categorias',
  data() {
    return {
      model: {
        title: '',
        description: '',
        is_public: false,
        categories: "",
      },
      loaderActive: false,
      categories: [],
    }
  },
  async mounted() {
    try {
      this.showLoader()
      const { data } = await api.get(`/teacher/groups/${this.$route.params.id}`)
      data.is_public = Boolean(data.is_public)
      this.model = Object.assign({}, data)
      this.model.categories = "";
      await this.loadCategories();
      this.showLoader()
    } catch (e) {
      console.log(e)
      alert('Ocorreu um erro ao carregar as informações do grupo.')
    }
  },
  methods: {
    async handleSubmit() {
      try {
        await api.put(`/teacher/groups/${this.$route.params.id}`, this.model)
        this.$router.push(`/professor/materiais/pessoal`)
      } catch (e) {
        alert('⚠ Ocorreu um erro ao salvar as informações ⚠')
      }
    },
    async loadCategories() {
      try {
        this.showLoader()
        const { data } = await api.get(`/teacher/categories`)
        this.categories = data
        console.log(this.categories);
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar as informações das categorias.')
      }
    },
    showLoader() {
      this.loaderActive = !this.loaderActive
    },
  },
  computed: {
    isValid() {
      if (!this.model.title) {
        return false
      }
      return true
    },
  },
}
</script>
<style>
.return-button {
  cursor: pointer;
  opacity: 0.8;
}
.return-button:hover {
  opacity: 1;
}
</style>
<style scoped>
.white {
  color: white;
}
.password-input {
  position: relative;
}
.icon .fa-eye,
.icon .fa-eye-slash {
  position: absolute;
  right: 25px;
  top: 12px;
  cursor: pointer;
  z-index: 0;
  color: #6c757d;
}
.user-card {
  position: relative;
}
.save-button {
  bottom: 0;
  margin-bottom: 10px;
  right: 30%;
  font-size: 1vw;
}
</style>
