<template>
  <div class="m-4 text-gray">
    <span @click="$router.push('/professor/materiais')" class="return-button">
      <i class="fas fa-angle-left mr-2" />
      Voltar à pagina anterior
    </span>
    <p></p>
    <div class="row center m-0 p-0">
      <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
        <div class="spinner-border text-primary spinner-border" role="status">
          <span class="visually-hidden">Aguarde...</span>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="card card-style p-2" v-if="materials.length">
          <div class="card-body left">
            <h3 class="center">
              Lista de
              <span class="text-secondary">Favoritos</span>
            </h3>
            <hr />
            <table
              class="table table-striped table-borderless table-hover text-gray-2"
            >
              <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Acessos</th>
                  <th scope="col">Palavras-chave</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(material, index) in materials" :key="index">
                  <td class="text-gray">{{ material.title }}</td>
                  <td class="text-gray">{{ material.description }}</td>
                  <td class="text-gray">{{ material.type }}</td>
                  <td class="text-gray">{{ material.views }}</td>
                  <td class="text-gray">{{ material.key_words }}</td>
                  <td class="text-gray">
                    <button
                      type="submit"
                      class="btn btn-primary custom-btn mr-2"
                      @click="
                        $router.push(
                          `/professor/materiais/${material.id}/visualizar`,
                        )
                      "
                    >
                      <i class="fas fa-book mr-2" />
                      Ver material
                    </button>
                    <button
                      type="submit"
                      class="btn btn-danger custom-btn text-white"
                      @click="handleDelete()"
                    >
                      <i class="fas fa-trash mr-2" />
                      Remover favorito
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center" v-else-if="!loaderActive">
          <span class="badge bg-danger p-2">
            Não há materiais cadastrados até o momento para o filtro
            especificado.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import api from '@/services/api'
export default {
  name: 'materiais',
  data() {
    return {
      materials: [],
      loaderActive: false,
    }
  },
  async mounted() {
    await this.loadMaterials()
  },
  methods: {
    async loadMaterials() {
      this.showLoader()
      try {
        //const { data } = await api.get(`/teacher/materials/favorites`)
        //this.materials = data
        this.materials = [
          {
            id: 0,
            title: 'Material exemplo',
            key_words: 'Palavra-chave1',
            description: 'Material de exemplo para teste',
            type: 'PDF',
            views: 100,
          },
        ]
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar os materiais da sua instituição.')
      }
    },
    showLoader() {
      this.loaderActive = !this.loaderActive
    },
  },
}
</script>

<style>
.white {
  color: white;
}
.left {
  text-align: left;
}
.card-table,
.table {
  margin: 0;
  padding: 0;
  border-radius: 16px;
}
.text-gray-2 {
  color: #626262;
}
</style>
