<template>
  <div class="m-4 text-gray">
    <span
      @click="
        $router.push(
          `/professor/materiais/grupos/${$route.params.id}/materiais`,
        )
      "
      class="return-button"
    >
      <i class="fas fa-angle-left mr-2" />
      Voltar à pagina anterior
    </span>
    <p></p>
    <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
      <div class="spinner-border text-primary spinner-border" role="status">
        <span class="visually-hidden">Aguarde...</span>
      </div>
    </div>
    <div class="row m-0 p-0" v-else-if="user">
      <div class="mb-4 col-lg-9 col-md-12 col-sm-12">
        <div class="card card-style p-4">
          <div class="card-body">
            <h2 class="card-title mb-4">Material - {{ material.title }}</h2>
            <div class="right">
              <button
                type="submit"
                class="btn btn-primary custom-btn mr-2"
                @click="handleRemoveFavorito()"
                v-if="isFavorito"
              >
                <i class="far fa-star mr-2" />
                Desfavoritar
              </button>
              <button
                type="submit"
                class="btn btn-primary custom-btn mr-2"
                @click="handleSubmitFavorito()"
                v-else
              >
                <i class="far fa-star mr-2" />
                Favoritar
              </button>
              <button
                type="submit"
                class="btn btn-primary custom-btn"
                @click="handleSubmit()"
                v-if="material.type === 'document' || material.type === 'text'"
              >
                <i class="fas fa-download mr-2" />
                Baixar
              </button>
            </div>
            <div class="row mt-4">
              <div class="col-lg-12" v-if="material.type === 'text'">
                <p>{{ material.text }}</p>
              </div>
              <div
                class="col-lg-12"
                v-else-if="material.type === 'external_link'"
              >
                <h3>
                  <i class="fas fa-link mr-2 mt-4" />
                  <span>Acessar material:</span>
                  <a
                    :href="material.external_link"
                    target="_blank"
                    class="external_link"
                  >
                    {{ material.external_link }}
                  </a>
                </h3>
              </div>
              <div
                class="col-lg-12"
                v-else-if="material.type === 'document'"
              ></div>
              <div
                class="col-lg-12"
                v-else-if="material.type === 'video'"
              ></div>
            </div>
            <hr />
            <h2 class="card-title mb-4">Comentários e avaliação</h2>
            Em breve ~
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 order-1">
        <div class="card card-style p-4 user-card center">
          <div class="card-body">
            <div class="row pb-4">
              <div class="col-12 mb-4" style="text-align: center;">
                <i class="fas fa-book fa-5x" />
              </div>
              <div class="col-12">
                <h5 class="card-title">{{ material.title }}</h5>
                <div class="row">
                  <span class="card-text mb-2">
                    <i class="fas fa-layer-group mr-2" />
                    {{ material.group.title }}
                  </span>
                  <span class="card-text mb-2" :title="material.key_words">
                    <i class="fas fa-hashtag mr-2" />
                    {{ truncateString(material.key_words, 50) }}
                  </span>
                  <hr />
                  <span class="left">
                    <p class="card-text mb-2" :title="material.title">
                      Título: {{ truncateString(material.title, 50) }}
                    </p>
                    <p class="card-text mb-2" :title="material.author">
                      Autoria: {{ truncateString(material.author, 50) }}
                    </p>
                    <p class="card-text mb-2">
                      Data de criação: {{ material.material_created_at }}
                    </p>
                    <p class="card-text" :title="material.description">
                      Descrição: {{ truncateString(material.description, 50) }}
                    </p>
                  </span>
                </div>
              </div>
            </div>
            <hr class="mt-2 mb-4" />
            <div class="row">
              <div class="col-12 mb-4" style="text-align: center;">
                <i class="fas fa-user-circle fa-5x" />
              </div>
              <div class="col-12">
                <h5 class="card-title">{{ user.name }}</h5>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-envelope mr-2" />
                    {{ user.email }}
                  </span>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary custom-btn mt-4"
                @click="
                  $router.push(
                    '/professor/materiais/${$route.params.id}/editar',
                  )
                "
                v-if="owner"
              >
                <i class="fas fa-edit mr-2" />
                Editar material
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'professor-view',
  data() {
    return {
      user: '',
      material: [],
      loaderActive: false,
      owner: false,
      isFavorito: false
    }
  },
  async mounted() {
    await this.loadMaterial()
  },
  methods: {
    async loadMaterial() {
      try {
        this.showLoader()
        const { data } = await api.get(
          `/teacher/materials/${this.$route.params.id}`,
        )
        this.material = data.material
        this.user = data.material.user
        this.owner = data.owner
        this.isFavorito = data.favorited ? true : false
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar os materiais do professor.')
        this.$router.push('/professor')
      }
    },
    async handleSubmitFavorito(isDownload) {
      try {
        const { data } = await api.post('/teacher/saved-materials', {
          material_id: this.material.id,
          is_download: isDownload ? true : false
        })
        if (data) this.isFavorito = true;
      } catch (e) {
        alert('⚠ Ocorreu um erro ao favoritar material ⚠')
      }
    },
    async handleRemoveFavorito() {
      try {
        const { data } = await api.delete(
          `/teacher/saved-materials/${this.material.id}`,
        )
        if (data) this.isFavorito = false;
      } catch (e) {
        alert('⚠ Ocorreu um erro ao favoritar material ⚠')
      }
    },
    showLoader() {
      this.loaderActive = !this.loaderActive
    },
    truncateString(str, num) {
      if (str.length > num) {
        return str.slice(0, num) + '...'
      } else {
        return str
      }
    },
  },
}
</script>

<style scoped>
.white {
  color: white;
}
.password-input {
  position: relative;
}
.icon .fa-eye,
.icon .fa-eye-slash {
  position: absolute;
  right: 25px;
  top: 12px;
  cursor: pointer;
  z-index: 0;
  color: #6c757d;
}
.user-card {
  position: relative;
}
.save-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  right: 30%;
}
</style>
<style>
a {
  color: #6c757d;
  text-decoration: none;
}
.external_link {
  color: #49a6fc;
  text-decoration: underline;
  opacity: 0.8;
  transition: 0.5s;
}
.external_link:hover {
  opacity: 1;
  transition: 0.5s;
}
.right {
  text-align: right;
}
.font-weigth-bold {
  font-weight: bold;
}
</style>
