<template>
  <div class="m-4 text-gray">
    <span @click="$router.push('/professor/materiais')" class="return-button">
      <i class="fas fa-angle-left mr-2" />
      Voltar à pagina anterior
    </span>
    <p></p>
    <div class="row m-0 p-0 center">
      <div class="col-lg-12 col-sm-12 mb-4">
        <div class="card card-style p-2">
          <div class="card-body left">
            <h4 class="card-title mb-4">Filtros</h4>
            <div class="row">
              <div class="col-lg-6 mb-3">
                <label class="form-label">Título do material</label>
                <input
                  class="form-control"
                  placeholder="Digite o título do material"
                  v-model="model.title"
                />
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label">Palavras-chave</label>
                <input
                  class="form-control"
                  placeholder="Digite o título do material"
                  v-model="model.key_words"
                />
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label">Tipo de material</label>
                <select class="form-select" v-model="model.type">
                  <option value="" selected disabled>
                    Selecione uma opção
                  </option>
                  <option value="doc_link">PDF</option>
                  <option value="external_link">Link</option>
                  <option value="video_link">Vídeo</option>
                  <option value="text">Texto</option>
                </select>
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label">Tipo de busca</label>
                <input
                  class="form-control"
                  placeholder="Selecione o que deseja buscar"
                  v-model="model.search_type"
                />
              </div>
            </div>
            <div class="center">
              <button
                type="submit"
                class="btn btn-primary custom-btn"
                @click="loadMaterials()"
              >
                <i class="fas fa-search mr-2" />
                Realizar busca
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
        <div class="spinner-border text-primary spinner-border" role="status">
          <span class="visually-hidden">Aguarde...</span>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="card card-style p-2" v-if="materials.length">
          <div class="card-body left">
            <table
              class="table table-striped table-borderless table-hover text-gray-2"
            >
              <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Acessos</th>
                  <th scope="col">Palavras-chave</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(material, index) in materials" :key="index">
                  <th scope="row" class="text-gray">
                    {{ material.title }}
                  </th>
                  <td class="text-gray">{{ material.description }}</td>
                  <td class="text-gray">{{ material_types[material.type] }}</td>
                  <td class="text-gray">{{ material.views }}</td>
                  <td class="text-gray" :title="material.key_words">
                    {{ truncateString(material.key_words, 150) }}
                  </td>
                  <td class="text-gray">
                    <div class="center">
                      <button
                        type="submit"
                        class="btn btn-primary custom-btn"
                        @click="
                          $router.push(
                            `/professor/materiais/${material.id}/visualizar`,
                          )
                        "
                      >
                        <i class="fas fa-book mr-2" />
                        Ver material
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center" v-else-if="!loaderActive">
          <span class="badge bg-danger p-2">
            Não há materiais cadastrados até o momento para o filtro
            especificado.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'materiais',
  data() {
    return {
      materials: [],
      loaderActive: false,
      model: {
        title: '',
        key_words: '',
        type: '',
        search_type: '',
      },
      material_types: {
        doc_link: 'PDF',
        text: 'Texto',
        video_link: 'Vídeo',
        external_link: 'Link',
      },
    }
  },
  async mounted() {
    await this.loadMaterials()
  },
  methods: {
    getFilters() {
      let filters = ''
      const model = this.model
      if (model.title) {
        filters += `?title=${model.title}`
        if (model.key_words) {
          filters += `&key_words=${model.key_words}`
        }
        if (model.type) {
          filters += `&type=${model.type}`
        }
      } else {
        if (model.key_words) {
          filters += `?key_words=${model.key_words}`
          if (model.type) filters += `&type=${model.type}`
        } else if (model.type) filters += `?type=${model.type}`
      }
      return filters
    },
    async loadMaterials() {
      this.showLoader()
      try {
        const filters = this.getFilters()
        const { data } = await api.get(`/teacher/materials${filters}`)
        this.materials = data
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert(
          '⚠ Ocorreu um erro ao carregar os materiais da sua instituição. ⚠',
        )
      }
    },
    truncateString(str, num) {
      if (str.length > num) {
        return str.slice(0, num) + '...'
      } else {
        return str
      }
    },
    showLoader() {
      this.loaderActive = !this.loaderActive
    },
  },
}
</script>

<style>
.white {
  color: white;
}
.left {
  text-align: left;
}
.card-table,
.table {
  margin: 0;
  padding: 0;
  border-radius: 16px;
}
.text-gray-2 {
  color: #626262;
}
</style>
