<template>
  <div class="m-4 text-gray">
    <span
      @click="$router.push('/professor/materiais/pessoal')"
      class="return-button"
    >
      <i class="fas fa-angle-left mr-2" />
      Voltar à pagina anterior
    </span>
    <p></p>
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary custom-btn mb-4"
        @click="
          $router.push(`/professor/materiais/grupos/${$route.params.id}/novo`)
        "
      >
        <i class="fas fa-book" />
        <i class="fas fa-plus mr-2" />
        Adicionar novo material
      </button>
    </div>
    <div class="row center m-0 p-0">
      <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
        <div class="spinner-border text-primary spinner-border" role="status">
          <span class="visually-hidden">Aguarde...</span>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="card card-style p-2" v-if="materials.length">
          <div class="card-body left">
            <h3 class="center">
              Lista de Materais do
              <span class="text-secondary">Grupo</span>
            </h3>
            <hr />
            <table
              class="table table-striped table-borderless table-hover text-gray-2"
            >
              <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Acessos</th>
                  <th scope="col">Palavras-chave</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(material, index) in materials" :key="index">
                  <td class="text-gray">{{ material.title }}</td>
                  <td class="text-gray">
                    {{
                      material.description
                        ? truncateString(material.description, 50)
                        : '--'
                    }}
                  </td>
                  <td class="text-gray">{{ material_types[material.type] }}</td>
                  <td class="text-gray">{{ material.views }}</td>
                  <td class="text-gray">
                    {{
                      material.description
                        ? truncateString(material.key_words, 50)
                        : '--'
                    }}</td>
                  <td class="text-gray">
                    <button
                      type="submit"
                      class="btn btn-primary custom-btn mr-2"
                      @click="
                        $router.push(
                          `/professor/materiais/${material.id}/visualizar`,
                        )
                      "
                    >
                      <i class="fas fa-book mr-2" />
                      Ver material
                    </button>
                    <button
                      type="submit"
                      class="btn btn-danger custom-btn text-white"
                      @click="handleDelete()"
                    >
                      <i class="fas fa-trash mr-2" />
                      Remover material
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center" v-else-if="!loaderActive">
          <span class="badge bg-danger p-2">
            Não há materiais cadastrados até o momento para esse grupo.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'materiais',
  data() {
    return {
      materials: [],
      loaderActive: false,
      material_types: {
        doc_link: 'PDF',
        text: 'Texto',
        video_link: 'Vídeo',
        external_link: 'Link',
      },
    }
  },
  async mounted() {
    await this.loadMaterials()
  },
  methods: {
    async loadMaterials() {
      this.showLoader()
      try {
        const { data } = await api.get(
          `/teacher/group/${this.$route.params.id}/materials`,
        )
        this.materials = data
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar os materiais do grupo.')
      }
    },
    showLoader() {
      this.loaderActive = !this.loaderActive
    },
    truncateString(str, num) {
      if (str.length > num) {
        return str.slice(0, num) + '...'
      } else {
        return str
      }
    },
  },
}
</script>

<style>
.white {
  color: white;
}
.left {
  text-align: left;
}
.card-table,
.table {
  margin: 0;
  padding: 0;
  border-radius: 16px;
}
.text-gray-2 {
  color: #626262;
}
</style>
