<template>
  <div class="m-4 py-4 text-gray">
    <span @click="$router.push('/professor/materiais')" class="return-button">
      <i class="fas fa-angle-left mr-2" />
      Voltar à pagina anterior
    </span>

    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary custom-btn mb-4"
        @click="$router.push('/professor/grupos/novo')"
      >
        <i class="fas fa-layer-group" />
        <i class="fas fa-plus mr-2" />
        Adicionar novo grupo
      </button>
    </div>
    <div class="row center m-0 p-0">
      <div class="d-flex justify-content-center my-4" v-if="loaderActive">
        <div class="spinner-border text-primary spinner-border" role="status">
          <span class="visually-hidden">Aguarde...</span>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 mb-4">
        <div class="card card-style p-2" v-if="groups.length">
          <div class="card-body left">
            <h4 class="center">
              Lista dos meus
              <span class="text-secondary">Grupos</span>
            </h4>
            <hr />
            <table
              class="table table-striped table-borderless table-hover text-gray-2"
            >
              <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Categorias</th>
                  <th scope="col">Privacidade</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(group, index) in groups" :key="index">
                  <td class="text-gray">{{ group.title }}</td>
                  <td class="text-gray">{{ group.description }}</td>
                  <td class="text-gray">{{ group.categories || '--' }}</td>
                  <td class="text-gray">
                    {{ Boolean(group.is_public) ? 'Público' : 'Privado' }}
                  </td>
                  <td class="text-gray">
                    <button
                      type="submit"
                      class="btn btn-primary custom-btn mr-2"
                      @click="
                        $router.push(
                          `/professor/materiais/grupos/${group.id}/materiais`,
                        )
                      "
                    >
                      <i class="fas fa-book mr-2" />
                      Ver materiais
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary custom-btn mr-2"
                      @click="
                        $router.push(`/professor/grupos/${group.id}/editar`)
                      "
                    >
                      <i class="fas fa-layer-group mr-2" />
                      Ver/editar grupo
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center" v-else-if="!loaderActive">
          <span class="badge bg-danger p-2">
            Não há grupos cadastrados até o momento
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-center my-4" v-if="loaderGroupActive">
        <div class="spinner-border text-primary spinner-border" role="status">
          <span class="visually-hidden">Aguarde...</span>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="card card-style p-2" v-if="materials.length">
          <div class="card-body left">
            <h4 class="center">
              Lista dos meus
              <span class="text-secondary">Materiais</span>
            </h4>
            <hr />
            <table
              class="table table-striped table-borderless table-hover text-gray-2"
            >
              <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Acessos</th>
                  <th scope="col">Palavras-chave</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(material, index) in materials" :key="index">
                  <td class="text-gray">{{ material.title }}</td>
                  <td class="text-gray">
                    {{
                      material.description
                        ? truncateString(material.description, 50)
                        : '--'
                    }}
                  </td>
                  <td class="text-gray">{{ material_types[material.type] }}</td>
                  <td class="text-gray">{{ material.views }}</td>
                  <td class="text-gray">
                    {{ truncateString(material.key_words, 50) }}
                  </td>
                  <td class="text-gray">
                    <button
                      type="submit"
                      class="btn btn-primary custom-btn mr-2"
                      @click="
                        $router.push(
                          `/professor/materiais/${material.id}/visualizar`,
                        )
                      "
                    >
                      <i class="fas fa-book mr-2" />
                      Ver material
                    </button>
                    <button
                      type="submit"
                      class="btn btn-danger custom-btn text-white"
                      @click="handleDelete()"
                    >
                      <i class="fas fa-trash mr-2" />
                      Remover material
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center" v-else-if="!loaderActive">
          <span class="badge bg-danger p-2">
            Não há materiais cadastrados até o momento
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'

export default {
  name: 'materiais',
  data() {
    return {
      materials: [],
      groups: [],
      loaderActive: false,
      loaderGroupActive: false,
      material_types: {
        doc_link: 'PDF',
        text: 'Texto',
        video_link: 'Vídeo',
        external_link: 'Link',
      },
    }
  },
  async mounted() {
    await this.loadGroups()
    // await this.loadMaterials();
  },
  methods: {
    async loadMaterials() {
      this.showLoader('material')
      try {
        const { data } = await api.get(`/teacher/materials/`)
        this.materials = data
        this.showLoader('material')
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar os seus materiais.')
      }
    },
    async loadGroups() {
      this.showLoader('group')
      try {
        const { data } = await api.get(`/teacher/groups/`)
        this.groups = data.groups
        this.materials = data.materials
        this.showLoader('group')
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar os seus materiais e grupos.')
      }
    },
    showLoader(type) {
      if (type === 'material') this.loaderActive = !this.loaderActive
      else this.loaderGroupActive = !this.loaderGroupActive
    },
    truncateString(str, num) {
      if (str.length > num) {
        return str.slice(0, num) + '...'
      } else {
        return str
      }
    },
  },
}
</script>

<style>
.white {
  color: white;
}
</style>
