<template>
  <div class="m-4 py-4 center text-gray">
    <p>
      Realize buscas de materiais cadastrados no sistema ou confira os seus
      materiais e grupos de materiais. Você também pode visualizar os últimos
      materiais que você acessou. Clique no material e você poderá visualizá-lo.
    </p>
    <div
      class="card-title"
      v-if="actual_page.pages.length && last_viewed.length"
    >
      <h2>Últimos materiais acessados</h2>
      <br />
      <div class="row">
        <div
          class="col-lg-4 col-sm-12"
          v-for="(item, index) in actual_page.pages[actual_page.page]"
          :key="index"
        >
          <div class="card card-style p-4 mb-4">
            <div class="card-body">
              <h3 class="card-title">{{ item.title }}</h3>
              <p class="card-text">
                <i class="fas fa-layer-group mr-2" />
                {{ item.group.title }}
              </p>
              <p class="card-text">
                <i class="fas fa-tags mr-2" />
                {{ item.group.categories }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <nav>
          <ul
            class="pagination d-flex justify-content-center text-center center"
          >
            <li class="page-item" @click="handleNavigate(actual_page.page - 1)">
              <a class="page-link">
                <span>
                  <i class="fas fa-angle-left" />
                </span>
              </a>
            </li>
            <li
              v-for="(page, index) in actual_page.pages"
              :key="index"
              class="page-item"
              @click="handleNavigate(index)"
            >
              <a class="page-link">
                <div
                  :id="index"
                  class="circle"
                  :style="
                    index === actual_page.page
                      ? 'background-color: #49A6FC'
                      : 'background-color: #6c757d'
                  "
                ></div>
              </a>
            </li>
            <li class="page-item" @click="handleNavigate(actual_page.page + 1)">
              <a class="page-link">
                <span>
                  <i class="fas fa-angle-right" />
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h3 class="card-title">Meus Favoritos</h3>
            <p class="card-text">
              Veja os materiais que você marcou como favorito
            </p>
            <button
              type="submit"
              class="btn btn-primary custom-btn"
              @click="$router.push('/professor/materiais/favoritos')"
            >
              <i class="fas fa-star mr-2" />
              Ver favoritos
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h3 class="card-title">Buscar Materiais ou Grupos</h3>
            <p class="card-text">
              Veja a listagem completa de materiais cadastrados no sistema em
              toda a instituição ou faça buscas filtradas de acordo com sua
              necessidade
            </p>
            <button
              type="submit"
              class="btn btn-primary custom-btn"
              @click="$router.push('/professor/materiais/buscar')"
            >
              <i class="fas fa-book mr-2" />
              Ver materiais
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h3 class="card-title">Meus Grupos e Materiais</h3>
            <p class="card-text">
              Veja os grupos de materiais que você cadastrou e os materiais
              associados a cada um
            </p>
            <button
              type="submit"
              class="btn btn-primary custom-btn"
              @click="$router.push('/professor/materiais/pessoal')"
            >
              <i class="fas fa-book mr-2" />
              Ver meus grupos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import api from '@/services/api'

export default {
  name: 'materiais',
  data() {
    return {
      actual_page: {
        pages: [],
        page: 0,
      },
      last_viewed: [],
      settings: {
        dots: true,
        infinite: true,
        initialSlide: 2,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        swipeToSlide: true,
      },
    }
  },
  async mounted() {
    try {
      //const { data } = await api.get(`/teacher/materials/history`)
      //this.last_viewed = data
      this.last_viewed = [
        {
          title: 'Material x',
          group: {
            title: 'Grupo 1',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
        {
          title: 'Material y',
          group: {
            title: 'Grupo 2',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
        {
          title: 'Material z',
          group: {
            title: 'Grupo 3',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
        {
          title: 'Material a',
          group: {
            title: 'Grupo 2',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
        {
          title: 'Material b',
          group: {
            title: 'Grupo 5',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
        {
          title: 'Material c',
          group: {
            title: 'Grupo 3',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
        {
          title: 'Material k',
          group: {
            title: 'Grupo 3',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
        {
          title: 'Material m',
          group: {
            title: 'Grupo 3',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
        {
          title: 'Material r',
          group: {
            title: 'Grupo 3',
            categories: 'Palavra-chave 1; Palavra-chave 2;',
          },
        },
      ]
      this.handleAddItemsOnPage()
    } catch (e) {
      console.log(e)
      alert('Ocorreu um erro ao carregar os últimos materiais acessados.')
    }
  },
  methods: {
    handleAddItemsOnPage() {
      const pages = []
      let totalPages = 3
      let lastViewedCount = 0
      for (let i = 0; i < totalPages; i++) {
        var count = 0
        pages[i] = []
        while (count < 3) {
          pages[i].push(this.last_viewed[lastViewedCount])
          lastViewedCount++
          count++
        }
      }
      this.actual_page.pages = pages
      this.actual_page.page = 0
      console.log(this.actual_page.page)
    },
    handleNavigate(index) {
      const length = this.actual_page.pages.length - 1
      if (index < 0) {
        this.actual_page.page = length
      } else if (index > length) {
        this.actual_page.page = 0
      } else {
        this.actual_page.page = index
      }
    },
  },
}
</script>

<style>
.white {
  color: white;
}
</style>
<style scoped>
.page-link {
  background: none;
  border: none;
  color: #626262;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
.page-link:hover {
  opacity: 1;
  transition: 0.3s;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #626262;
}
</style>
