<template>
  <div class="m-4 text-gray">
    <span
      @click="
        $router.push(
          `/professor/materiais/grupos/${$route.params.id}/materiais`,
        )
      "
      class="return-button"
    >
      <i class="fas fa-angle-left mr-2" />
      Voltar à pagina anterior
    </span>
    <p></p>
    <div class="d-flex justify-content-center my-4" v-if="loaderActive">
      <div class="spinner-border text-primary spinner-border" role="status">
        <span class="visually-hidden">Aguarde...</span>
      </div>
    </div>
    <div class="row m-0 p-0">
      <div class="col-lg-9 col-sm-12">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Dados básicos</h4>
            <div class="row">
              <div class="col-6 mb-3">
                <label class="form-label">Título do material</label>
                <input
                  class="form-control"
                  placeholder="Digite o nome do material"
                  v-model="model.title"
                />
              </div>
              <div class="col-6 mb-3">
                <label class="form-label">Tipo de material</label>
                <select class="form-select" v-model="model.type">
                  <option value="" selected disabled>
                    Selecione uma opção
                  </option>
                  <option value="doc_link">PDF</option>
                  <option value="external_link">Link</option>
                  <option value="video_link">Vídeo</option>
                  <option value="text">Texto</option>
                </select>
              </div>
              <div class="col-6 mb-3">
                <label class="form-label">Autor</label>
                <input
                  class="form-control"
                  placeholder="Digite o nome do autor"
                  v-model="model.author"
                />
              </div>
              <div class="col-6 mb-3">
                <label class="form-label">Data de criação</label>
                <input
                  type="date"
                  class="form-control"
                  placeholder="Digite a data de criação"
                  v-model="model.material_created_at"
                />
              </div>
              <div class="col-12 mb-3">
                <label class="form-label">Descrição</label>
                <textarea
                  class="form-control"
                  placeholder="Escreva uma breve descrição"
                  v-model="model.description"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Material</h4>
            <div class="row">
              <div class="col-12 mb-3">
                <h5>
                  Tipo selecionado:
                  {{ model.type ? material_types[model.type] : '--' }}
                </h5>
              </div>
              <div class="col-12 mb-3" v-if="model.type === 'external_link'">
                <label class="form-label">Link do material</label>
                <input
                  class="form-control"
                  placeholder="Adicione o link do material"
                  v-model="model.external_link"
                />
              </div>
              <div class="col-12 mb-3" v-if="model.type === 'text'">
                <label class="form-label">Texto</label>
                <textarea
                  class="form-control"
                  placeholder="Escreva o texto aqui"
                  v-model="model.text"
                ></textarea>
              </div>
              <div class="col-12 mb-3" v-if="model.type === 'video_link'">
                <label class="form-label">Link do vídeo</label>
                <input
                  class="form-control"
                  placeholder="Adicione o link do víddeo"
                  v-model="model.video_link"
                />
              </div>
              <div class="col-12 mb-3" v-if="model.type === 'doc_link'">
                <button
                  class="col-12 btn btn-primary white px-4 save-button"
                  @click="handleLoadMaterial()"
                  :disabled="!isValid"
                >
                  <i class="fas fa-upload mr-2" />
                  Fazer upload do material
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Palavras-chave</h4>
            <div class="row">
              <div class="col-12 mb-3">
                <h5>
                  Palavras-chave recomendadas de acordo com o material
                  adicionado* (mínimo três):
                </h5>
              </div>
              <div class="row mb-4 ml-2">
                <div
                  class="form-check col-lg-4"
                  v-for="(word, index) in generated_key_words"
                  :key="index"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :value="`Palavra-chave ${word}`"
                    :id="index"
                    v-model="key_words[index]"
                  />
                  <label class="form-check-label" :for="index">
                    {{ word }}
                  </label>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label class="form-label">Outras</label>
                <input
                  class="form-control"
                  placeholder="Adicione as palavras-chave desejadas (separe por vírgula, sem espaços)"
                  v-model="extra_key_words"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 center col-sm-12 order-1 user-card">
        <div class="card card-style p-4">
          <div class="card-body">
            <div class="row">
              <div class="col-12 mb-4" style="text-align: center;">
                <i class="fas fa-book fa-5x" />
              </div>
              <div class="col-12">
                <h5 class="card-title">{{ model.title || 'Novo Material' }}</h5>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-layer-group mr-2" />
                    {{ group.title }}
                  </span>
                  <span class="card-text">
                    <i class="fas fa-hashtag mr-2" />
                    <span v-for="(word, index) in key_words" :key="index">
                      {{ word }}
                    </span>
                    <span v-if="!key_words">--</span>
                  </span>
                </div>
                <hr />
                <div class="row">
                  <span class="card-text">
                    Tipo: {{ model.type ? material_types[model.type] : '--' }}
                  </span>
                  <span class="card-text">
                    Autoria: {{ model.author || '--' }}
                  </span>
                  <span class="card-text">
                    Criação: {{ model.material_created_at || '--' }}
                  </span>
                  <span class="card-text">
                    Descrição: {{ model.description || '--' }}
                  </span>
                </div>
              </div>
            </div>
            <br />
            <div class="center">
              <button
                type="submit"
                class="btn btn-primary white px-4 save-button"
                @click="handleSubmit()"
                :disabled="!isValid"
              >
                <i class="fas fa-save mr-2" />
                Adicionar material
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'materiais',
  data() {
    return {
      model: {
        title: '',
        description: '',
        material_created_at: '',
        external_link: '',
        text: '',
        video_link: '',
        doc_link: '',
        type: '',
        author: '',
        key_words: '',
      },
      material_types: {
        doc_link: 'PDF',
        text: 'Texto',
        video_link: 'Vídeo',
        external_link: 'Link',
      },
      group: '',
      loaderActive: false,
      key_words: {},
      generated_key_words: [
        'Palavra-chave 1',
        'Palavra-chave 2',
        'Palavra-chave 3',
        'Palavra-chave 4',
        'Palavra-chave 5',
        'Palavra-chave 6',
        'Palavra-chave 7',
        'Palavra-chave 8',
      ],
      extra_key_words: '',
    }
  },
  async mounted() {
    await this.loadGroup()
  },
  methods: {
    async handleSubmit() {
      try {
        this.model.key_words = ''
        this.convertToString()
        this.model.group_id = this.group.id
        await api.post('/teacher/materials', this.model)
        this.$router.push(
          `/professor/materiais/grupos/${this.$route.params.id}/materiais`,
        )
      } catch (e) {
        alert('⚠ Ocorreu um erro ao cadastrar o material ⚠')
      }
    },
    async loadGroup() {
      try {
        this.showLoader()
        const { data } = await api.get(
          `/teacher/groups/${this.$route.params.id}`,
        )
        this.group = data
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar as informações do grupo.')
      }
    },
    showLoader() {
      this.loaderActive = !this.loaderActive
    },
    convertToString() {
      const words_indexes = this.key_words
      const words = Object.keys(words_indexes).map((index) => {
        return this.generated_key_words[index]
      })
      this.model.key_words += words.map((word) => {
        return word
      })
      this.model.key_words += this.extra_key_words
    },
  },
  computed: {
    isValid() {
      if (
        !this.model.title ||
        !this.model.type ||
        (this.model.type === 'doc_link' && !this.model.doc_link) ||
        (this.model.type === 'text' && !this.model.text) ||
        (this.model.type === 'video_link' && !this.model.video_link) ||
        (this.model.type === 'external_link' && !this.model.external_link)
      ) {
        return false
      }
      return true
    },
  },
}
</script>
<style>
.return-button {
  cursor: pointer;
  opacity: 0.8;
}
.return-button:hover {
  opacity: 1;
}
</style>
<style scoped>
.white {
  color: white;
}
.password-input {
  position: relative;
}
.icon .fa-eye,
.icon .fa-eye-slash {
  position: absolute;
  right: 25px;
  top: 12px;
  cursor: pointer;
  z-index: 0;
  color: #6c757d;
}
.user-card {
  position: relative;
}
.save-button {
  bottom: 0;
  margin-bottom: 10px;
  right: 30%;
  font-size: 1vw;
}
</style>
