<template>
  <div class="m-4 center text-gray">
    <h1>Bem vindo ao Repositório de Materiais de Ensino!</h1>
    <p>
      O projeto surgiu com o objetivo de facilitar a aprendizagem de professores
      das escolas de ensino básico sobre recursos e ferramentas educacionais
      disponíveis na atualidade. Assim, o docente terá mais tempo para se
      dedicar ao preparo de suas aulas e atividades avaliativas, uma vez que seu
      processo de aprendizagem será mais rápido e eficiente.
    </p>
    <br />
    <div class="row m-0 p-0">
      <div class="col-lg-6 col-sm-12">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h2 class="card-title">Precisa de Ajuda?</h2>
            <p class="card-text">
              Veja nosso tutorial para aprender a usar o Repositório de
              Materiais de Ensino!
            </p>
            <a href="#" class="btn btn-primary white px-4">Ver tutorial</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card card-style p-4">
          <div class="card-body">
            <div class="row">
              <div class="col-2" style="text-align: right;">
                <i class="fas fa-user-circle fa-5x" />
              </div>
              <div class="col-10">
                <h5 class="card-title">Minha Instituição</h5>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-map-marker-alt mr-2" />
                    Santa Maria, RS
                  </span>
                </div>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-envelope mr-2" />
                    email@gmail.com
                  </span>
                </div>
              </div>
            </div>
            <br />
            <a href="#" class="btn btn-primary white px-4">Editar perfil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from '@/services/api'

export default {
  name: 'instituicoes-homepage',
  data() {
    return {
      profile: ''
    }
  },
  async mounted() {
    await this.loadProfile();
  },
  methods: {
    async loadProfile(){
      try {
        const { data } = await api.get(`/teacher/profile`)
        console.log(data)
        this.profile = data
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar as informações de usuário.')
      }
    }
  }
}
</script>

<style>
.white {
  color: white;
}
</style>
