<template>
  <div class="m-4 center text-gray">
    <p>
      Realize buscas de materiais cadastrados no sistema ou confira os seus
      materiais e grupos de materiais.
    </p>
    <br />
    <div class="row m-0 p-0">
      <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h2 class="card-title">Buscar Materiais ou Grupos</h2>
            <p class="card-text">
              Veja a listagem completa de materiais cadastrados no sistema em
              toda a instituição ou faça buscas filtradas de acordo com sua
              necessidade
            </p>
            <button
              type="submit"
              class="btn btn-primary custom-btn"
              @click="$router.push('/professor/materiais/buscar')"
            >
              <i class="fas fa-book mr-2" />
              Ver materiais
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h2 class="card-title">Meus Grupos e Materiais</h2>
            <p class="card-text">
              Veja os grupos de materiais que você cadastrou e os materiais
              associados a cada um
            </p>
            <button
              type="submit"
              class="btn btn-primary custom-btn"
              @click="$router.push('/professor/materiais/pessoal')"
            >
              <i class="fas fa-book mr-2" />
              Ver meus grupos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'homepage',
}
</script>

<style>
.white {
  color: white;
}
</style>
