<template>
  <div class="m-4 center text-gray">
    <h1>Bem vindo ao Repositório de Materiais de Ensino!</h1>
    <p>
      O projeto surgiu com o objetivo de facilitar a aprendizagem de professores
      das escolas de ensino básico sobre recursos e ferramentas educacionais
      disponíveis na atualidade. Assim, o docente terá mais tempo para se
      dedicar ao preparo de suas aulas e atividades avaliativas, uma vez que seu
      processo de aprendizagem será mais rápido e eficiente.
    </p>
    <br />
    <div class="row m-0 p-0">
      <div class="col-lg-6 col-sm-12">
        <div class="card card-style p-4 mb-4">
          <div class="card-body">
            <h2 class="card-title">Precisa de Ajuda?</h2>
            <p class="card-text">
              Veja nosso tutorial para aprender a usar o Repositório de
              Materiais de Ensino!
            </p>
            <button
              type="submit"
              class="btn btn-primary custom-btn"
              @click="$router.push('/professor/ajuda')"
            >
              Ver tutorial
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card card-style p-4">
          <div class="card-body">
            <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
              <div class="spinner-border text-primary spinner-border" role="status">
                <span class="visually-hidden">Aguarde...</span>
              </div>
            </div>
            <div v-else>
              <div class="row">
                <div class="col-2" style="text-align: right;">
                  <i class="fas fa-user-circle fa-5x" />
                </div>
                <div class="col-10">
                  <h5 class="card-title">{{ profile.name }}</h5>
                  <div class="row">
                    <span class="card-text">
                      <i class="fas fa-envelope mr-2" />
                      <a :href="`mailto:${profile.email}`">
                        {{ profile.email }}
                      </a>
                    </span>
                  </div>
                  <div class="row">
                    <span class="card-text">
                      <i class="fas fa-university mr-2" />
                      {{ institute }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary custom-btn"
                @click="$router.push('/professor/perfil')"
              >
                Editar Perfil
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from '@/services/api'

export default {
  name: 'professores-homepage',
  data() {
    return {
      profile: '',
      institute: '',
      loaderActive: false
    }
  },
  async mounted() {
    await this.loadProfile()
  },
  methods: {
    async loadProfile() {
      try {
        this.showLoader();
        const { data } = await api.get(`/teacher/profile`)
        this.profile = data[0]
        this.institute = data[0].teacher.institute.user.name
        this.showLoader();
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar as informações de usuário.')
      }
    },
    showLoader () {
      this.loaderActive = !this.loaderActive;
    },
  },
}
</script>

<style>
.white {
  color: white;
}
</style>
