<template>
  <div class="m-4 text-gray">
    <div class="d-flex justify-content-center mt-4" v-if="loaderActive">
      <div class="spinner-border text-primary spinner-border" role="status">
        <span class="visually-hidden">Aguarde...</span>
      </div>
    </div>
    <div class="row m-0 p-0">
      <div class="col-lg-9 col-sm-12 d-flex align-items-stretch">
        <div class="row">
          <div class="card card-style p-4 mb-4">
            <div class="card-body">
              <h4 class="card-title mb-4">Dados básicos</h4>
              <div class="row">
                <div class="col-lg-6 mb-3">
                  <label class="form-label" name="nome">Nome</label>
                  <input
                    class="form-control"
                    placeholder="Digite seu nome"
                    v-model="profile.name"
                  />
                </div>
                <div class="col-lg-6 mb-3">
                  <label class="form-label">Telefone</label>
                  <input
                    class="form-control"
                    placeholder="(DD) 00000 - 0000"
                    v-model="profile.phone"
                  />
                </div>
                <div class="col-lg-12 mb-3">
                  <label class="form-label">Descrição</label>
                  <textarea
                    class="form-control"
                    placeholder="Escreva uma breve descrição para o seu perfil"
                    v-model="profile.description"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-style p-4 mb-4">
            <div class="card-body">
              <h4 class="card-title mb-4">Email e senha</h4>
              <div class="row">
                <div class="col-lg-6 mb-3">
                  <label class="form-label" name="email">Email</label>
                  <input
                    type="mail"
                    class="form-control"
                    placeholder="Digite seu email"
                    v-model="profile.email"
                  />
                </div>
                <div class="col-lg-6 mb-3">
                  <label class="form-label">Senha Atual</label>
                  <div class="password-input">
                    <input
                      id="actual_p_input"
                      type="password"
                      class="form-control"
                      placeholder="Digite sua senha"
                      v-model="profile.password"
                    />
                    <span
                      class="icon-position"
                      @click="setPasswordVisibility('actual_pass', 'actual_p_input')"
                    >
                      <i id="actual_pass" class="icon fas fa-eye-slash" />
                    </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="form-label">Nova senha</label>
                  <div class="password-input">
                    <input
                      id="new_p_input"
                      type="password"
                      class="form-control"
                      placeholder="Digite sua nova senha"
                      v-model="password.new"
                    />
                    <span
                      class="icon-position"
                      @click="setPasswordVisibility('new_pass', 'new_p_input')"
                    >
                      <i id="new_pass" class="icon fas fa-eye-slash" />
                    </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="form-label">Confirmação de senha</label>
                  <div class="password-input">
                    <input
                      id="confirm_p_input"
                      type="password"
                      class="form-control"
                      placeholder="Confirme sua nova senha"
                      v-model="password.confirmation"
                    />
                    <span
                      class="icon-position"
                      @click="
                        setPasswordVisibility('confirm_pass', 'confirm_p_input')
                      "
                    >
                      <i id="confirm_pass" class="icon fas fa-eye-slash" />
                    </span>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <small class="form-text text-muted">
                    *sua senha deve conter 8-20 caracteres, letras e números.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 center col-sm-12 order-1 d-flex align-items-stretch user-card"
      >
        <div class="card card-style p-4">
          <div class="card-body">
            <div class="row">
              <div class="col-12 mb-4" style="text-align: center;">
                <i class="fas fa-user-circle fa-5x" />
              </div>
              <div class="col-12">
                <h5 class="card-title">{{ profile.name }}</h5>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-envelope mr-2" />
                    {{ profile.email }}
                  </span>
                </div>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-phone mr-2" />
                    {{ profile.phone }}
                  </span>
                </div>
                <div class="row">
                  <span class="card-text">
                    <i class="fas fa-university mr-2" />
                    {{ institute }}
                  </span>
                </div>
              </div>
            </div>
            <br />
            <div class="center">
              <a href="#" class="btn btn-primary white px-4 save-button">
                <i class="fas fa-save mr-2" />
                Salvar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'perfil',
  data() {
    return {
      profile: {
        email: '',
        name: '',
        password: '',
      },
      password: {
        new: '',
        confirmation: '',
      },
      institute: '',
      loaderActive: false
    }
  },
  async mounted() {
    await this.loadProfile()
  },
  methods: {
    async loadProfile() {
      try {
        this.showLoader()
        const { data } = await api.get(`/teacher/profile`)
        this.profile = Object.assign({}, data[0])
        this.profile.phone = data[0].teacher.phone
        this.profile.password = ''
        this.institute = data[0].teacher.institute.user.name
        this.showLoader()
      } catch (e) {
        console.log(e)
        alert('Ocorreu um erro ao carregar as informações de usuário.')
      }
    },
    setPasswordVisibility(id, input) {
      const icon = document.getElementById(id)
      const passwordElement = document.getElementById(input)
      if (passwordElement.type === 'password') {
        passwordElement.type = 'text'
        icon.classList.toggle('fa-eye')
      } else {
        passwordElement.type = 'password'
        icon.classList.toggle('fa-eye-slash')
      }
    },
    showLoader () {
      this.loaderActive = !this.loaderActive;
    },
  },
}
</script>

<style scoped>
.white {
  color: white;
}
.password-input {
  position: relative;
}
.icon-position {
  position: absolute;
  right: 12px;
  top: 9px;
  cursor: pointer;
  z-index: 0;
  color: #6c757d;
}
.user-card {
  position: relative;
}
.save-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  right: 30%;
}
</style>
